
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myBeachLocationLabel">Create or edit a Beach Location</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.beachLocation.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.beachLocation.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_beachname">Beachname</label>
            <input type="text" class="form-control" name="beachname" id="field_beachname"
                    ng-model="vm.beachLocation.beachname"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_longitude">Longitude</label>
            <input type="number" class="form-control" name="longitude" id="field_longitude"
                    ng-model="vm.beachLocation.longitude"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_latitude">Latitude</label>
            <input type="number" class="form-control" name="latitude" id="field_latitude"
                    ng-model="vm.beachLocation.latitude"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_zoomlevel">Zoomlevel</label>
            <input type="number" class="form-control" name="zoomlevel" id="field_zoomlevel"
                    ng-model="vm.beachLocation.zoomlevel"
                     />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
